/* @media (max-width:350px) {
    header #title-container {
        width: 662px;
        height: 116px;

        position: absolute;
        top: calc(50vh - 56px);
        left: calc(50vw - 331px);
    }

    header #title-container h1 {
        padding: 0;
        font-size: 50px;
    }
} */

/* for fake api, adjust left half */


/* tablet */
@media (min-width:660px) {
    header #title-container {
        width: 530px;
        height: 92px;

        position: absolute;
        top: calc(50vh - 46px);
        left: calc(50vw - 265px);
    }

    header #title-container h1 {
        font-size: 80px;
    }
}

/* desktop */
/* tablet */
@media (min-width:950px) {
    header #title-container {
        width: 662px;
        height: 116px;

        position: absolute;
        top: calc(50vh - 56px);
        left: calc(50vw - 331px);
    }

    header #title-container h1 {
        font-size: 100px;
    }
}