/* for api sections */
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');


section{
    padding-top:30px;
    padding-bottom:30px;

    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
/* ======================= */

/* intro */
#intro{
    text-align: center;
    min-height:50vh;
    background-color: black;
    color:white; 

    /* background-color: whitesmoke; */
    /* color:black;  */
}

#intro div{
    padding:10px; 
}

#intro span{
    color:red; 
}

#intro a{
    color:green; 
    /* color:darkblue;  */
    text-decoration: underline;
}
#intro a:hover{
    color:orangered;
}
/* ----------------------- */

#api-cards{
    background-image: url(./images/w11.webp);
    background-color: rgb(30, 10, 0);
    background-blend-mode: overlay;
}

/* ----------------------- */

.section-image{
    height:30vh; 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

    background-image: url(./images/w3.webp);
}
.section-image h2{
    color:white; 
    font-size: 40px;
    font-weight:100; 

    padding:10px; 
    font-family: 'Calligraffitti', cursive, serif; 
}
/* -------------------------- */

.go-to-top-btn{
    padding:15px 20px;
    margin:20px 10px; 

    background-color: white;
    color:black;
    border-radius: 30px;
    transition: 400ms ease; 
}
.go-to-top-btn:hover{
    background-color: black;
    color:white;
}
/* -------------------------- */

/* output blocks */
.output{
    word-wrap: break-word;

    position: relative;
    width:90vw;
    /* width:90vw; */
    min-height:30vh;

    background-color: black;
    color:white; 
    padding:20px; 
    padding-bottom:50px; 
    transition: 500ms ease; 
}

.output:hover{
    background-color: rgb(18, 0, 28);
    color:rgb(217, 224, 235); 
    padding:30px;
    padding-bottom:70px; 

    border-radius:20px; 
    box-shadow: 2px 2px 30px rgb(245, 120, 195); 
}
/* ----------------------- */