/* API 4 */
/* country */

#api-country .half-outer1{
    background-color:rgb(222, 222, 37);
    background-image: url(./images/w3.webp);
    background-blend-mode: color-dodge;
}


#api-country #guide{
    padding:10px;
    /* background-color: aqua; */
}

#api-country #userCountry{
    margin-top:20px;
    border-bottom: 1px solid black;
}


#api-country .half-outer2{
    background-color: rgb(137, 4, 4);
    color:rgb(222, 222, 37);
}

#output2{
    background-color: rgb(137, 4, 4);
    color:rgb(222, 222, 37);
    padding:30px;
    padding-bottom:30px;
}
/* ----------------------- */

